*.pyc
*.map
*.dblite
*.elf
*.bin
*.px4
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
*.px4
build
#Debug
#documentation/html
#*~
*.o
*.obj
*.bak
*.dep
*.lib
*.a
*.i
*.d
*.uvoptx*
*.uvguix*
*.orig
cconfig.h
.cortex-debug*

src/lib/dronecan/dsdlc_generated/*
