[submodule "rtos/rt-thread"]
	path = rtos/rt-thread
	url = https://github.com/Firmament-Autopilot/rt-thread.git
	branch = rtt-v4.0.3-patched
[submodule "src/lib/dronecan/dsdl"]
	path = src/lib/dronecan/dsdl
	url = https://github.com/dronecan/DSDL.git
[submodule "src/lib/dronecan/dsdlc"]
	path = src/lib/dronecan/dsdlc
	url = https://github.com/dronecan/dronecan_dsdlc.git
[submodule "src/lib/dronecan/libcanard"]
	path = src/lib/dronecan/libcanard
	url = https://github.com/dronecan/libcanard.git
