#
# Copyright (C) <2024-2025>
#   <Cypress Semiconductor Corporation (an Infineon company)>
#
# The device-specific configuration file.
# Overwrites the default (category/family-specific) definitions

# See the variables description in the default configuration file(s)

set_or_global RRAM_MAIN_RECLAIMED       0x2A000

