#
# Copyright (C) <2019-2024>
#   <Cypress Semiconductor Corporation (an Infineon company)>
#
# Configuration script for Cypress TRAVEO™II B-E family of microcontrollers.
# TRAVEO™II B-E is a dual-core device with CM0+ and CM4 cores. Both cores share
# the same Flash/RAM/MMIO address space.
#

# The following four lines can be used to override Flash Geometry of the target device
# In this case configuration scripts will not perform any auto-detection and will use
# predefined values.
# If all these variables are set to zero, configuration scripts will attempt to detect
# the type of target device by reading SiliconID from SFlash and matching it with MPN
# database, see cympn.cfg file.
set MAIN_LARGE_SECTOR_NUM       14
set MAIN_SMALL_SECTOR_NUM       16
set WORK_LARGE_SECTOR_NUM       24
set WORK_SMALL_SECTOR_NUM       128

set TARGET_VARIANT              TVIIBE1M_512K

# Reset configuration - use hardware XRES pin
# If this line is commented-out OpenOCD will use SYSRESETREQ to reset the CM0+ core and
# all peripherals. This will also reset CM4/CM7 cores.
# reset_config srst_only srst_pulls_trst

# Include common functionality script
source [find target/infineon/cat1a/base_cyt2xx.cfg]
